<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about page</title>
  </head>
  <body align="center">
    <h1>About</h1>

    <h4>
      <a href="/home">Homepage</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </h4>

    <h3>About Me</h3>
    <p>
      Hello visitor, thank you for view my page, My name is Abiola Fasanya you
      can also call me fastbeetech, I am a passionate and dedicated software
      developerm who has passion for solving and providing solution to daily
      challenges that can be solved by a software engineer, I am currently
      sharping and proving myb skill, in a program called KodeCamp in order to
      make me stand out and become a well known problem solver in the tech
      space. Once again thank you for your time.
    </p>
  </body>
</html>
