<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact page</title>
  </head>
  <body align="center">
    <h1>Contact Page</h1>
    <h4>
      <a href="/home">Homepage</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </h4>
    <h3>Contact me on</h3>
    <h3><a href="www.facebook.com/harbiola78">Contact Me On Facebook: harbiola78</a> <br /></h3>
    <h3><a href="www.twitter.com/fasanya_abiola">Contact Me On Twitter: abiola_fasanya</a> <br /></h3>
    <h3><a href="www.github.com/fastbeetech">Contact Me On GitHub: fastbeetech</a> <br /></h3>
    <h3><a href="mailto:harbiola78@gmail.com">Email Me on Gmail harbiola78@gmail.com</a><br /></h3>
    <h3><a href="tel:+2348102307473">Call me on 08102307473</a></h3></h3>
  </body>
</html>
