<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body align="center">
    <h1>Homepage</h1>

    <h4>
      <a href="/home">Homepage</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </h4>

    <h3>Name: Abiola Fasanya</h3>
    <h3>Age: 26Yrs</h3>
    <h3>Track: Backend</h3>
    <h3>Language: NodeJs, Solidity</h3>
    <h3>Education: Graduate</h3>
    <h3>Level: Intermediate</h3>
  </body>
</html>
